<tr>
	<td width="55%" class="purchase_item"
		style="padding:4px 0;color:#51545E;font-size:14px;line-height:16px;"><span class="f-fallback">&nbsp;&nbsp;[PotSize]</span></td>
	<td class="align-right purchase_item" width="12%" align="right"
		style="padding:4px 0;color:#51545E;font-size:14px;line-height:16px;"><span class="f-fallback">[Qty]</span></td>
	<td class="align-right purchase_item" width="15%" align="right"
		style="padding:4px 0;color:#51545E;font-size:14px;line-height:16px;"><span class="f-fallback">[Price]</span></td>
	<td class="align-right purchase_item" width="18%" align="right"
		style="padding:4px 0;color:#51545E;font-size:14px;line-height:16px;"><span class="f-fallback">[Ext]</span></td>
</tr>